In [86]:
import numpy as np
import pandas as pd
import gdown
from bs4 import BeautifulSoup
import requests

In [87]:
ns_book = pd.read_csv("data/ns_book.csv", low_memory=False)

In [88]:
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [89]:
ns_book.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       384591 non-null  int64
 1   도서명      384188 non-null  object
 2   저자       384393 non-null  object
 3   출판사      379950 non-null  object
 4   발행년도     384577 non-null  object
 5   ISBN     384591 non-null  object
 6   세트 ISBN  56576 non-null   object
 7   부가기호     310386 non-null  object
 8   권        63378 non-null   object
 9   주제분류번호   364727 non-null  object
 10  도서권수     384591 non-null  int64
 11  대출건수     384591 non-null  float64
 12  등록일자     384591 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 234.0 MB

In [90]:
ns_book.isna().sum()

번호              0
도서명           403
저자            198
출판사          4641
발행년도           14
ISBN            0
세트 ISBN    328015
부가기호        74205
권          321213
주제분류번호      19864
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [91]:
ns_book.loc[0, '도서권수'] = None
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,NaN,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0.0,2021-03-19

In [92]:
ns_book.loc[0, '도서권수'] = 1
ns_book = ns_book.astype({'도서권수' : 'int32', '대출건수': 'int32'})
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [93]:
set_isbn_na_rows = ns_book['세트 ISBN'].isna()  # 누락된 값을 찾아서 boolean 배열로 전환
ns_book.loc[set_isbn_na_rows, '세트 ISBN'] = '' # 누락된 값을 빈 문자열로 변경
ns_book['세트 ISBN'].isna().sum()               # 누락된 값 확인

np.int64(0)

In [94]:
ns_book.fillna('없음').isna().sum()

번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

In [95]:
ns_book['부가기호'].fillna('없음').isna().sum()

np.int64(0)

In [96]:
ns_book.fillna({'부가기호':'없음'}).isna().sum()

번호              0
도서명           403
저자            198
출판사          4641
발행년도           14
ISBN            0
세트 ISBN         0
부가기호            0
권          321213
주제분류번호      19864
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [97]:
ns_book.replace(np.nan, '없음').isna().sum()

번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

In [98]:
ns_book.replace([np.nan, '2021'], ['없음', '21'])

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,없음,없음,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,없음,없음,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,21,9788968332982,,없음,없음,없음,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,21,9788970759906,,없음,없음,없음,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,21,9788934990833,,없음,없음,없음,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384586,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,없음,3,809.3,1,0,1970-01-01
384587,401677,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,없음,2,813.6,2,0,1970-01-01
384588,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,없음,3,811.608,1,0,1970-01-01
384589,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,없음,2,688.04,1,0,1970-01-01
384590,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,없음,3,809.05,2,0,1970-01-01

In [99]:
ns_book.replace({np.nan: '없음', '2021' :'21'}).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,없음,없음,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,없음,없음,1,0,2021-03-19

In [100]:
ns_book.replace({'부가기호' : np.nan}, '없음').head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,없음,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,없음,NaN,NaN,1,0,2021-03-19

In [101]:
ns_book.replace(
    {'부가기호' : {np.nan : '없음'}},
    {'발행년도' : {'2021' : '21'}}
).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19

In [102]:
ns_book.replace({
    '부가기호': {np.nan: '없음'},
    '발행년도': {'2021': '21'}
}).head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,,없음,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,,없음,NaN,NaN,1,0,2021-03-19

In [103]:
ns_book.replace({'발행년도' : {r'\d{2}(\d{2})' : r'\1'}}, regex=True)[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드 (지은이), 김진웅 (옮긴이)",좋은씨앗,18,9788958743019,,NaN,NaN,234.9,1,1,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아 (지은이), 안기순 (옮긴이)",부키,21,9788960518483,,NaN,NaN,325.1,1,0,2021-03-15

In [104]:
ns_book.replace(
    {'저자' : {r'(.*)\s\(지은이\)(.*)\s\(옮긴이\)' : r'\1\2'}},
    {'발행년도' : {r'\d{2}(\d{2})' : r'\1'}}
)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384586,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,NaN,3,809.3,1,0,1970-01-01
384587,401677,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,NaN,2,813.6,2,0,1970-01-01
384588,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,NaN,3,811.608,1,0,1970-01-01
384589,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
384590,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [105]:
ns_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       384591 non-null  int64
 1   도서명      384188 non-null  object
 2   저자       384393 non-null  object
 3   출판사      379950 non-null  object
 4   발행년도     384577 non-null  object
 5   ISBN     384591 non-null  object
 6   세트 ISBN  384591 non-null  object
 7   부가기호     310386 non-null  object
 8   권        63378 non-null   object
 9   주제분류번호   364727 non-null  object
 10  도서권수     384591 non-null  int32
 11  대출건수     384591 non-null  int32
 12  등록일자     384591 non-null  object
dtypes: int32(2), int64(1), object(10)
memory usage: 35.2+ MB

In [106]:
ns_book.astype({'발행년도' : 'int32'})

ValueError: invalid literal for int() with base 10: '1988.': Error while type casting for column '발행년도'

In [62]:
ns_book['발행년도'].str.contains('1988').sum()

407

In [ ]:
invaild_number = ns_book['발행년도'].str.contains(r'\D', na=True)
print(invaild_number.sum())
ns_book[invaild_number].head()

1777

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19138,19565,단국강토,홍태수 저,매일경제신문사,1988.,9788974420031,,NaN,NaN,511.1,1,1,2019-12-19
19227,19736,삼성의 역사,송부웅 撰,삼양,단기4334[2001],9788985464369,,0,NaN,911.02,1,1,2019-12-06
26097,26812,배고픈 애벌레,에릭 칼 글·그림 ;이희재 옮김,더큰컴퍼니,[2019],9788959514083,,NaN,NaN,843,1,0,2019-08-12
29817,30586,(The) Sopranos sessions,"Matt Zoller Seitz,$eAlan Sepinwall,$eLaura Lip...",Harry N Abrams Inc,2019.,9781419734946,,NaN,NaN,326.76,1,0,2019-06-13
29940,30709,다음엔 너야,에른스트 얀들 글;노르만 융에 그림;박상순 옮김,비룡소,2018.,9788949110646,9788949110004,7,NaN,853,1,9,2019-06-04

In [64]:
ns_book1 = ns_book.replace({'발행년도' : {r'.*(\d{4}).*' : r'\1'}}, regex=True)
ns_book1[invaild_number].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19138,19565,단국강토,홍태수 저,매일경제신문사,1988,9788974420031,,NaN,NaN,511.1,1,1,2019-12-19
19227,19736,삼성의 역사,송부웅 撰,삼양,2001,9788985464369,,0,NaN,911.02,1,1,2019-12-06
26097,26812,배고픈 애벌레,에릭 칼 글·그림 ;이희재 옮김,더큰컴퍼니,2019,9788959514083,,NaN,NaN,843,1,0,2019-08-12
29817,30586,(The) Sopranos sessions,"Matt Zoller Seitz,$eAlan Sepinwall,$eLaura Lip...",Harry N Abrams Inc,2019,9781419734946,,NaN,NaN,326.76,1,0,2019-06-13
29940,30709,다음엔 너야,에른스트 얀들 글;노르만 융에 그림;박상순 옮김,비룡소,2018,9788949110646,9788949110004,7,NaN,853,1,9,2019-06-04

In [ ]:
unknown_year = ns_book1['발행년도'].str.contains(r'\D', na=True, regex=True)
print(unknown_year.sum())
ns_book1.head()

67

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,,NaN,NaN,NaN,1,0,2021-03-19

In [66]:
ns_book1.loc[unknown_year, '발행년도'] = -1
ns_book1 = ns_book1.astype({'발행년도' : 'int32'})

In [67]:
sum(ns_book1['발행년도'].gt(4000))

131

In [68]:
sum(ns_book1['발행년도'] > 4000)

131

In [69]:
dangun_yy_rows = ns_book1['발행년도'].gt(4000)
ns_book1.loc[dangun_yy_rows, '발행년도'] = ns_book1.loc[dangun_yy_rows, '발행년도'] - 2333
dangun_year = ns_book1['발행년도'].gt(4000)
print(dangun_year.sum())
ns_book1[dangun_year].head(2)

13

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
222858,234268,Modern art,[computer file],GROLIER,7611,9780717233243,,NaN,NaN,609.205,1,1,2009-05-07
270269,282852,현대 영어학=Linguistic theory in modern english,이재영,열림기획,7634,9788986705072,,1,NaN,740.1,1,6,2007-04-14

In [70]:
ns_book1.loc[dangun_year, '발행년도'] = -1

In [71]:
old_books = ns_book1['발행년도'].gt(0) & ns_book1['발행년도'].lt(1900)
ns_book1[old_books]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
61149,64093,"고흐 씨, 시 읽어 줄까요 :내 마음을 알아주는 시와 그림의 만남",이운진 지음,사계절,176,9788958284277,,0,NaN,811.7,1,6,2017-10-27
70566,74347,정신 병리학의 문제들,지은이: 지그문트 프로이트 ;옮긴이: 황보석,열린책들,151,9788932905181,9788932905082,9,10,185.5,1,4,2017-04-26
79550,84164,(최근 7년간) 중요 민법판례 :[2009년 1월~2016년 6월 중요 판례],이광섭 편저,법학사,163,9788962898651,,9,NaN,365,1,14,2016-09-27
147950,157759,(한·중·일) 밥상 문화 :대표음식으로 본 3국 문화비교,김경은 지음,이가서,132,9788958643012,,0,NaN,381.75,1,30,2013-02-19
194576,205407,책으로 뒤덮인 집의 비밀,N.E. 보드 지음 ;피터 퍼거슨 그림 ;김지현 옮김,개암나무,1015,9788992844413,,7,NaN,843,1,15,2010-08-18
287252,300283,(밝혀질)우리歷史,吳在城 著,黎民族史硏究會,1607,9788986892130,,0,NaN,911,1,5,2006-07-06

In [ ]:
ns_book1.loc[old_books, '발행년도'] = -1
sum(ns_book1['발행년도'].eq(-1))

86

In [73]:
na_rows = ns_book1['도서명'].isna() | ns_book1['저자'].isna() | ns_book1['출판사'].isna() | ns_book1['발행년도'].eq(-1)
print(na_rows.sum())
ns_book1[na_rows].head(2)

5268

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
78,79,아산 정주영 레거시,김화진,NaN,2021,9788952129529,,NaN,NaN,325,1,1,2021-03-15
265,278,골목의 시간을 그리다,정명섭.김효찬 지음,NaN,2021,9791191266054,,NaN,NaN,NaN,1,0,2021-03-12

In [ ]:
def get_book_title(isbn):
    # Yes 24 도서 검색 페이지 URL
    url = 'https://www.yes24.com/Product/Search?domain=BOOK&query={}'
    
    # URL에 ISBNㅇ르 넣어 HTML을 가져온다
    response = requests.get(url.format(isbn))
    soup = BeautifulSoup(response.text, 'html.parser')  # html 파싱
    
    # 클래스 이름이 'gd_name'인 <a> 태그의 텍스트를 가져온다
    title = soup.find('a', attrs={'class' : 'gd_name'}).get_text()
    return title
    
get_book_title(9788942340262)

'소설의 사회사 비교론 3'

In [75]:
ns_book1

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384586,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,NaN,3,809.3,1,0,1970-01-01
384587,401677,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,NaN,2,813.6,2,0,1970-01-01
384588,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,NaN,3,811.608,1,0,1970-01-01
384589,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
384590,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [124]:
# import re

# def get_book_info(row):
#     title = row['도서명']
#     author = row['저자']
#     pub = row['출판사']
#     year = row['발행년도']
    
#     # Yes 24 도서 검색 페이지 URL
#     url = 'https://www.yes24.com/Product/Search?domain=BOOK&query={}'
    
#     # URL에 ISBNㅇ르 넣어 HTML을 가져온다
#     response = requests.get(url.format(row['ISBN']))
#     soup = BeautifulSoup(response.text, 'html.parser')  # html 파싱
    
#     try:
#         if pd.isna(title):
#             title = soup.find('a', attrs={'class' : 'gd_name'}).get_text()
    
#     except AttributeError:
#         pass
    
#     try:
#         if pd.isna(author):
#             authors = soup.find('span', attrs={'class' : 'info_auth'}).find_all('a')
#             author_list = [auth.get_text() for auth in authors]
#             author = ','.join(author_list)
            
#     except AttributeError:
#         pass
    
#     try:
#         if pd.isna(pub):
#             pub = soup.find('span', attrs={'class' : 'info_pub'}).find('a').get_text()
    
#     except AttributeError:
#         pass
    
#     try:
#         if year == -1:
#             year_str = soup.find('span', attrs={'class' : 'info_date'}).get_text()
#             year = re.findall(r'\d{4}', year_str)[0]
            
#     except AttributeError:
#         pass
    
#     return title, author, pub, year


import time
import random
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

def get_book_info(row):
    """
    도서 정보를 Yes24에서 가져오는 함수 (최적화 포함).
    """
    title = row['도서명']
    author = row['저자']
    pub = row['출판사']
    year = row['발행년도']
    isbn = row['ISBN']
    
    # Yes24 도서 검색 페이지 URL
    url = f'https://www.yes24.com/Product/Search?domain=BOOK&query={isbn}'
    max_retries = 3  # 재시도 횟수 제한
    retry_delay = random.uniform(0.5, 1)  # 재시도 시 대기 시간

    for attempt in range(max_retries):
        try:
            # 요청 전 랜덤 딜레이 추가 (0.1~0.3초)
            time.sleep(random.uniform(0.1, 0.3))
            
            response = requests.get(url, timeout=5)  # HTTP 요청
            response.raise_for_status()  # HTTP 에러 확인
            soup = BeautifulSoup(response.text, 'html.parser')  # HTML 파싱
            
            # 각 정보 파싱
            if not title:
                title_elem = soup.find('a', attrs={'class': 'gd_name'})
                title = title_elem.get_text().strip() if title_elem else None
            
            if not author:
                authors_elem = soup.find('span', attrs={'class': 'info_auth'})
                authors = authors_elem.find_all('a') if authors_elem else []
                author = ', '.join([auth.get_text().strip() for auth in authors]) if authors else None
            
            if not pub:
                pub_elem = soup.find('span', attrs={'class': 'info_pub'})
                pub = pub_elem.find('a').get_text().strip() if pub_elem else None
            
            if year == -1:
                year_elem = soup.find('span', attrs={'class': 'info_date'})
                year_str = year_elem.get_text().strip() if year_elem else None
                year = int(re.findall(r'\d{4}', year_str)[0]) if year_str else -1

            # 성공적으로 데이터를 가져오면 반환
            return title, author, pub, year
        
        except requests.exceptions.RequestException as e:
            print(f"Request error on attempt {attempt + 1} for ISBN {isbn}: {e}")
            time.sleep(retry_delay)  # 재시도 전 대기
            
        except Exception as e:
            print(f"Error processing ISBN {isbn}: {e}")
            break  # 예외 발생 시 루프 종료
    
    # 실패 시 None 반환
    return title, author, pub, year

In [ ]:
from concurrent.futures import ThreadPoolExecutor

# 병렬 처리 함수
def parallel_apply(df, func, max_workers=5):
    """
    DataFrame에 병렬 처리를 적용하는 함수
    """
    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        results = list(executor.map(func, [row for _, row in df.iterrows()]))
    return pd.DataFrame(results)

# 실행
update_df = parallel_apply(ns_book1[na_rows], get_book_info, max_workers=5)
update_df.head(2)

In [111]:
update_df.columns = ['도서명', '저자', '출판사', '발행년도']

             도서명          저자         출판사  발행년도
78    아산 정주영 레거시         김화진  서울대학교출판문화원  2021
265  골목의 시간을 그리다  정명섭.김효찬 지음      초록비책공방  2021

In [120]:
ns_book1

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,NaN,NaN,NaN,1,0,2021-03-19
1,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,NaN,NaN,NaN,1,0,2021-03-19
2,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,,NaN,NaN,NaN,1,0,2021-03-19
3,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,,NaN,NaN,NaN,1,0,2021-03-19
4,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...
384586,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,NaN,3,809.3,1,0,1970-01-01
384587,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,NaN,2,813.6,2,0,1970-01-01
384588,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,NaN,3,811.608,1,0,1970-01-01
384589,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,NaN,2,688.04,1,0,1970-01-01
384590,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,NaN,3,809.05,2,0,1970-01-01

In [122]:
update_df

             도서명          저자         출판사  발행년도
78    아산 정주영 레거시         김화진  서울대학교출판문화원  2021
265  골목의 시간을 그리다  정명섭.김효찬 지음      초록비책공방  2021

In [ ]:
ns_book1.update(update_df)

na_rows = ns_book1['도서명'].isna() | ns_book1['저자'].isna() | ns_book1['출판사'].isna() | ns_book1['발행년도'].eq(-1)
print(na_rows.sum())
ns_book1[na_rows].head(2)

5266

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
354,한국인의 맛,정명섭 지음,NaN,2021,9791155401804,,NaN,NaN,NaN,1,0,2021-03-12
539,"한성부, 달 밝은 밤에",김이삭 지음,NaN,2021,9791163161479,,NaN,NaN,NaN,1,0,2021-03-12

In [ ]:
7

```python
df.info(memory_usage='deep')
df.isna().sum()
```
- ### `boolean`
    ```python
    # 누락된 값을 찾아서 boolean 배열로 
    set_isbn_na_rows = df['세트 ISBN'].isna()

    # 누락된 값을 빈 문자열로   
    df.loc[set_isbn_na_rows, '세트 ISBN'] = '' 

    # 누락된 값 확인
    df['세트 ISBN'].isna().sum()               
    ```

- ### `fillna`
    ```python
    df.fillna('없음').isna().sum()              # 모든 NaN 값을 변경
    -------------------------------------------------------------------------------------
    df['부가기호'].fillna('없음').isna().sum()    # 특정 열의 NaN 값을 변경
    -------------------------------------------------------------------------------------
    df.fillna({'부가기호':'없음'}).isna().sum()   # 특정 열의 NaN 값을 바꾸면서 전체 df을 반환
    ```

- ### `replace`
    ```python
    df.replace(np.nan, '없음').isna().sum()         # 바꾸려는 값이 하나일 때 
    -------------------------------------------------------------------------------------
    df.replace([np.nan, '2021'], ['없음', '21'])    # 바꾸려는 값이 여러 개일떄 <리스트 형식>
    -------------------------------------------------------------------------------------
    df.replace({np.nan: '없음', '2021' :'21'})      # 바꾸려는 값이 여러 개일떄 <딕셔너리 형식>
    -------------------------------------------------------------------------------------
    df.replace({'부가기호' : np.nan}, '없음')         # 열 마다 다른 값으로 바꿀 때 <딕셔너리>
    -------------------------------------------------------------------------------------
    df.replace({                                  # 열 마다 다른 값으로 바꿀 떄 <중첩된 딕셔너리>
        '부가기호': {np.nan: '없음'},
        '발행년도': {'2021': '21'}
    }).head(2)
    -------------------------------------------------------------------------------------
    df.replace(                                   # 정규식 활용
        {'발행년도' : {r'\d{2}(\d{2})' : r'\1'}}, 
        regex=True
    ) 
    -------------------------------------------------------------------------------------
    df.replace(                                   # 정규식 응용
        {'저자' : {r'(.*)\s\(지은이\)(.*)\s\(옮긴이\)' : r'\1\2'}},
        {'발행년도' : {r'\d{2}(\d{2})' : r'\1'}}
    )
    ```

- ### `contains`
    ```python
    df['발행년도'].str.contains('1988').sum()       # 특정 열에서 '1988'이 포함된 모든 문자열의 갯수
    -------------------------------------------------------------------------------------
    # 정규식을 활용해서 특정 열 내의 모든 숫자가 아닌 NaN값을 포함한 문자열을 탐색
    invaild_number = df['발행년도'].str.contains(r'\D', na=True)

    # 탐색한 값의 갯수 출력
    print(invaild_number.sum())

    # 탐색한 값의 상세 df의 상위 5개 행 확인
    df[invaild_number].head()
    ```

- ### `전처리 시작`
    ```python
    # 정규식을 활용해서 불필요한 문자를 숫자 형태로 전환
    df1 = df.replace({'발행년도' : {r'.*(\d{4}).*' : r'\1'}}, regex=True)
    df1[invaild_number].head()
    -------------------------------------------------------------------------------------
    # NaN값이거나 네 자리 숫자가 아닌 값들 처리
    df1.loc[unknown_year, '발행년도'] = -1

    # '발행년도'의 열을 정수형으로 변환
    df1 = df1.astype({'발행년도' : 'int32'})
    -------------------------------------------------------------------------------------
    sum(df1['발행년도'].gt(4000))    # 연도가 비정상적인 경우의 갯수 확인
    """
    gt() 메서드
    :param :전달된 값보다 큰 값을 탐색
    
    비슷한 대체 방법
    : sum(df1['발행년도'] > 4000)

    사용 가능한 또 다른 메서드
    : ge | lt | le | eq | ne
    : >= |  < | <= | == | !=
    """
    -------------------------------------------------------------------------------------
    # 4000보다 큰 값 탐색
    dangun_yy_rows = df1['발행년도'].gt(4000)

    # 찾은 값에서 2333을 뺴서 서기로 변경
    df1.loc[dangun_yy_rows, '발행년도'] = df1.loc[dangun_yy_rows, '발행년도'] - 2333

    # 여전히 4000보다 큰 값을 탐색
    dangun_year = df1['발행년도'].gt(4000)

    # 4000보다 큰 값의 갯수 출력
    print(dangun_year.sum())

    # 4000보다 큰 값의 df 상세내역중 상위 2개 행 출력
    df1[dangun_year].head(2)

    # 4000보다 큰 값들을 모두 -1로 변경
    df1.loc[dangun_year, '발행년도'] = -1
    -------------------------------------------------------------------------------------
    # 0보다 크고 1900보다 작은 값 탐색
    old_books = df1['발행년도'].gt(0) & df1['발행년도'].lt(1900)

    # 탐색한 df 행을 출력
    df1[old_books]

    # 탐색한 값들을 모두 -1로 변경
    df1.loc[old_books, '발행년도'] = -1

    # 최종적으로 발행년도 열의 -1 값들의 갯수 출력
    sum(df1['발행년도'].eq(-1))
    -------------------------------------------------------------------------------------
    ```
- ### `누락된 정보 채우기`
    ```python
    def get_book_title(isbn):
    # Yes 24 도서 검색 페이지 URL
    url = 'https://www.yes24.com/Product/Search?domain=BOOK&query={}'
    
    # URL에 ISBN을 넣어 HTML을 가져온다
    response = requests.get(url.format(isbn))
    soup = BeautifulSoup(response.text, 'html.parser')  # html 파싱
    
    # 클래스 이름이 'gd_name'인 <a> 태그의 텍스트를 가져온다
    title = soup.find('a', attrs={'class' : 'gd_name'}).get_text()
    return title
    -------------------------------------------------------------------------------------
    ```